@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome <strong>@User.Identity?.Name</strong> in Todo List App</h1>
    <br />
    <h4>You can plan your day with this App</h4>
</div>